[submodule "tools/birdsuite"]
	path = tools/birdsuite
	url = https://github.com/ohsu-comp-bio/birdsuite
[submodule "tools/pbwt"]
	path = tools/pbwt
	url = https://github.com/ohsu-comp-bio/pbwt
[submodule "tools/Eagle"]
	path = tools/Eagle
	url = https://github.com/ohsu-comp-bio/Eagle
[submodule "tools/hapi-ur"]
	path = tools/hapi-ur
	url = https://github.com/ohsu-comp-bio/hapi-ur
[submodule "tools/Minimac3"]
	path = tools/Minimac3
	url = https://github.com/ohsu-comp-bio/Minimac3
